@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Special Gothic Expanded One';
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: brown;
    color: white;
}

.container{
    width: 100%;

}

.playground{
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;        
}


i{
    font-size: 30px;
}

button{
    background-color: rgba(240, 99, 99, 0.514);
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 5px;
    transition: all .6s;
    outline: none;
}

button:hover{
    background-color: rgba(241, 53, 53, 0.637);
    cursor: pointer;
    transform: scale(1.123);
}

button:active{
    background-color: rgb(255, 3, 3);
    transform: scale(.9);
}

.choices{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.choices div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.result{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.scoreboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    top: 90px;
}

hr{
    width: 50%;
    height: 2px;
    background-color: white;
    border: none;
    margin-top: -20px;
}

.score{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 415px){
    h1{
        font-size: 30px;
        width: 70%;
        text-align: center;
    }
    .playground button{
        width: 50px;
        height: 50px;
    }
    i{
        font-size: 15px;
    }
    .choices{
        flex-direction: column;
        gap: 20px;
    }
    .choices div{
        flex-direction: column;
        gap: 5px;
    }
}